@media only screen and (max-width: 600px) {
}


.sexy-button {
    background-color: #ff6b6b; /* Change the background color as desired */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    /* Add any other custom styles here to make it "sexy" */
  }
  
  .sexy-button:hover {
    background-color: #ff4848; /* Change the hover color as desired */
  }