/*--- useful links widgets ---*/
aside .widget.pitnik-links > ul {
    padding: 0;
}
aside .widget.pitnik-links > ul > li {
    display: inline;
}
.widget.pitnik-links {
    padding: 15px;
}
aside .widget.pitnik-links > ul > li > a {
    padding: 3px 10px;
}
.widget.pitnik-links > p {
    color: #959ab5;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}